In [8]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

DB_HOSTNAME = 'localhost'
DB_PORT_ID = 5432
DB_DATABASE = 'stock_crypto'
DB_PWD = 'Anthony007'
DB_USERNAME = 'postgres'

TWILIO_accountSid = 'ACfb4f0633dd53f6e14b230b12ab29d552'
TWILIO_authToken = 'd583433df2cb5db42cdf16289164aea9'

In [11]:
def select_historical_data(stratagy, ticker_label):
    """_summary_
    Select raw historical data based on ticker ID
    
    Args:
        stratagy (int): specify strategy based on strategy
        ticker_label (string): specify ticker label to run strategy
        
    Returns:
        pd.Dataframe: raw historical data
    """
    # get raw historical data table name based on ticker timeframe 
    if stratagy == 1:
        table_name = 'historical_data_30_table'
    elif stratagy == 2 or stratagy == 4:
        table_name = 'historical_data_15_table'
    # open connection
    myeng = create_engine("postgresql://%s:%s@%s:%s/stock_crypto" % (DB_USERNAME, DB_PWD, DB_HOSTNAME, DB_PORT_ID))
    dbConnection = myeng.connect()
    query = 'SELECT * FROM '+ table_name +' WHERE ticker_id = %s;' 
    params = (ticker_label, )
    # get raw historical data table as pandas df
    exsisting_df = pd.read_sql(query, dbConnection, params=params)
    dbConnection.close()
    # close connection
    return exsisting_df

In [17]:
ticker_label_list = ['ADABTC', 'ONEBTC', 'HBARBTC', 'VETBTC', 'LTCBTC', 'BCHBTC', 'ETHBTC']
strategies_list = [1, 2, 4]
df = select_historical_data(1, 'ADABTC')

In [18]:
df['DiffOpenClose'] = (df['open'] - df['close'])*-1
df['DiffHighLow'] = (df['high'] - df['low'])*-1

In [20]:
df

,datetime,ticker_id,open,high,low,close,volume,DiffOpenClose,DiffHighLow
0,2022-03-16 17:00:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,484489.4,3.000000e-08,-1.300000e-07
1,2022-03-16 17:30:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,310070.1,-2.000000e-08,-8.000000e-08
2,2022-03-16 18:00:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,244003.6,-2.000000e-08,-7.000000e-08
3,2022-03-16 18:30:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,212976.9,-2.000000e-08,-8.000000e-08
4,2022-03-16 19:00:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,770917.8,1.300000e-07,-2.200000e-07
...,...,...,...,...,...,...,...,...,...
2619,2022-05-10 06:30:00+00:00,ADABTC,0.000021,0.000021,0.000021,0.000021,21843.4,-2.000000e-08,-2.000000e-08
2620,2022-05-10 07:00:00+00:00,ADABTC,0.000022,0.000022,0.000022,0.000022,17386.5,-0.000000e+00,-3.000000e-08
2621,2022-05-10 07:30:00+00:00,ADABTC,0.000021,0.000021,0.000021,0.000021,11246.0,-2.000000e-08,-2.000000e-08
2622,2022-05-10 08:00:00+00:00,ADABTC,0.000021,0.000021,0.000021,0.000021,26587.8,6.000000e-08,-6.000000e-08
2623,2022-05-10 08:30:00+00:00,ADABTC,0.000021,0.000021,0.000021,0.000021,11606.5,-0.000000e+00,-2.000000e-08

In [21]:
df.to_csv('./Data/ADABTC_data.txt', header=True, index=None, sep=' ', mode='a')