In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# environment variables hidden

In [3]:
def select_historical_model_data(strat):
    """_summary_
    Select raw historical data based on ticker ID
    
    Args:
        stratagy (int): specify strategy based on strategy
        ticker_label (string): specify ticker label to run strategy
        
    Returns:
        pd.Dataframe: raw historical data
    """
    if strat == 1:
        table_name1 = 'historical_data_30_table'
        table_name2 = 'psar_macd_ema_table'
        query = f"""
            SELECT 
                h.datetime, h.ticker_id, h.open, 
                h.high, h.low, h.close,
                h.volume, s.psarl, s.psars,
                s.psaraf, s.psarr, s.macd,
                s.macdh, s.macds, s.ema_200
            FROM 
                {table_name1} AS h
            LEFT JOIN 
                {table_name2} AS s
            ON 
                h.datetime = s.datetime AND
                h.ticker_id = s.ticker_id
            ORDER BY 
                h.datetime;
        """
    elif strat == 2:
        table_name1 = 'historical_data_15_table'
        table_name2 = 'st_rsi_ema_table'
        query = f"""
            SELECT 
                h.datetime, h.ticker_id, h.open, 
                h.high, h.low, h.close,
                h.volume, s.supert, s.supertd, s.supertl,
                s.superts, s.rsi_14, s.rsi_14_a_70, s.rsi_14_b_30,
                s.ema_200
            FROM 
                {table_name1} AS h
            LEFT JOIN 
                {table_name2} AS s
            ON 
                h.datetime = s.datetime AND
                h.ticker_id = s.ticker_id
            ORDER BY 
                h.datetime;
        """
    elif strat == 4:
        table_name1 = 'historical_data_15_table'
        table_name2 = 'hoffman_table'
        query = f"""
            SELECT 
                h.datetime, h.ticker_id, h.open, 
                h.high, h.low, h.close,
                h.volume, s.sma_5, s.ema_18, s.ema_20, 
                s.sma_50, s.sma_89, s.ema_144, s.ema_35, 
                s.ku, s.a, s.b, s.c, s.rv, s.y, s.x, s.sl,
                s.ss
            FROM 
                {table_name1} AS h
            LEFT JOIN 
                {table_name2} AS s
            ON 
                h.datetime = s.datetime AND
                h.ticker_id = s.ticker_id
            ORDER BY 
                h.datetime;
        """

    # open connection
    myeng = create_engine(url)
    dbConnection = myeng.connect()

    # get raw historical data table as pandas df
    exsisting_df = pd.read_sql(query, dbConnection)
    dbConnection.close()
    # close connection
    return exsisting_df

In [10]:
df_30_strat1 = select_historical_model_data(1)
df_15_strat2 = select_historical_model_data(2)
df_15_strat4 = select_historical_model_data(4)

# EDA CLEANING

## df_30_strat1

In [11]:
df_30_strat1.sort_values(by='datetime', inplace=True)

In [20]:
df_30_strat1.dropna(subset=['ema_200'], inplace=True)

In [21]:
df_30_strat1

,datetime,ticker_id,open,high,low,close,volume,psarl,psars,psaraf,psarr,macd,macdh,macds,ema_200
1393,2022-05-30 20:30:00+00:00,BCHBTC,0.006270,0.006270,0.006230,0.006230,326.816,0.006161,NaN,0.06,0.0,1.473572e-05,5.953392e-06,8.782331e-06,0.006167
1394,2022-05-30 20:30:00+00:00,HBARBTC,0.000003,0.000003,0.000003,0.000003,260626.000,NaN,0.000003,0.04,0.0,1.621521e-10,-3.333154e-10,4.954675e-10,0.000003
1395,2022-05-30 20:30:00+00:00,LTCBTC,0.002189,0.002189,0.002178,0.002181,2535.265,0.002166,NaN,0.04,0.0,3.698319e-06,3.532771e-07,3.345042e-06,0.002169
1396,2022-05-30 20:30:00+00:00,VETBTC,0.000001,0.000001,0.000001,0.000001,2090400.000,0.000001,NaN,0.04,0.0,8.128876e-10,4.541315e-10,3.587561e-10,0.000001
1397,2022-05-30 20:30:00+00:00,ADABTC,0.000018,0.000018,0.000018,0.000018,566128.700,0.000018,NaN,0.10,0.0,3.081010e-07,2.974199e-08,2.783590e-07,0.000016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,2022-06-11 10:30:00+00:00,BCHBTC,0.005550,0.005550,0.005550,0.005550,7.065,NaN,0.005621,0.12,0.0,-5.300338e-05,-3.970085e-06,-4.903329e-05,0.005820
5290,2022-06-11 10:30:00+00:00,LTCBTC,0.001852,0.001853,0.001847,0.001847,292.611,NaN,0.001892,0.18,0.0,-2.733930e-05,-6.353477e-06,-2.098582e-05,0.001994
5286,2022-06-11 10:30:00+00:00,ONEBTC,0.000001,0.000001,0.000001,0.000001,2055.000,NaN,0.000001,0.10,0.0,-2.254058e-08,-1.932780e-09,-2.060780e-08,0.000001
5285,2022-06-11 10:30:00+00:00,HBARBTC,0.000003,0.000003,0.000003,0.000003,16339.000,NaN,0.000003,0.12,0.0,-2.754959e-08,-1.928856e-09,-2.562073e-08,0.000003
5287,2022-06-11 10:30:00+00:00,ADABTC,0.000020,0.000020,0.000020,0.000020,4058.300,NaN,0.000020,0.10,0.0,-1.722428e-07,-6.427726e-08,-1.079655e-07,0.000020

## df_15_strat2

In [23]:
df_15_strat2.sort_values(by='datetime', inplace=True)

In [25]:
df_15_strat2.dropna(subset=['ema_200'], inplace=True)

In [27]:
df_15_strat2

,datetime,ticker_id,open,high,low,close,volume,supert,supertd,supertl,superts,rsi_14,rsi_14_a_70,rsi_14_b_30,ema_200
995,2022-03-18 18:45:00+00:00,VETBTC,1.200000e-06,1.210000e-06,1.200000e-06,1.210000e-06,689262.000,1.169643e-06,1.0,0.000001,NaN,62.097148,0.0,0.0,0.000001
996,2022-03-18 18:45:00+00:00,HBARBTC,5.020000e-06,5.030000e-06,5.010000e-06,5.030000e-06,72022.000,4.962543e-06,1.0,0.000005,NaN,72.629445,1.0,0.0,0.000005
997,2022-03-18 18:45:00+00:00,ONEBTC,3.250000e-06,3.270000e-06,3.250000e-06,3.270000e-06,253406.000,3.191309e-06,1.0,0.000003,NaN,75.788004,1.0,0.0,0.000003
998,2022-03-18 18:45:00+00:00,ADABTC,2.077000e-05,2.089000e-05,2.076000e-05,2.082000e-05,195019.600,2.055290e-05,1.0,0.000021,NaN,70.654409,1.0,0.0,0.000021
1001,2022-03-18 19:00:00+00:00,VETBTC,1.210000e-06,1.210000e-06,1.190000e-06,1.190000e-06,4590793.000,1.169643e-06,1.0,0.000001,NaN,48.758483,0.0,0.0,0.000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58956,2022-06-11 10:45:00+00:00,BCHBTC,5.540000e-03,5.540000e-03,5.540000e-03,5.540000e-03,1.000,5.520142e-03,1.0,0.005520,NaN,40.344971,0.0,0.0,0.005748
58957,2022-06-11 10:45:00+00:00,HBARBTC,2.720000e-06,2.730000e-06,2.720000e-06,2.730000e-06,2441.000,2.690069e-06,1.0,0.000003,NaN,53.736438,0.0,0.0,0.000003
58958,2022-06-11 10:45:00+00:00,ONEBTC,1.160000e-06,1.160000e-06,1.160000e-06,1.160000e-06,0.000,1.179880e-06,-1.0,NaN,1.179880e-06,41.933095,0.0,0.0,0.000001
58959,2022-06-11 10:45:00+00:00,VETBTC,9.700000e-07,9.700000e-07,9.700000e-07,9.700000e-07,2000.000,9.818228e-07,-1.0,NaN,9.818228e-07,43.335149,0.0,0.0,0.000001
58961,2022-06-11 10:45:00+00:00,LTCBTC,1.849000e-03,1.849000e-03,1.847000e-03,1.847000e-03,96.727,1.835149e-03,1.0,0.001835,NaN,31.059202,0.0,0.0,0.001958

## df_15_strat4

In [29]:
df_15_strat4.columns # ema_144

Index(['datetime', 'ticker_id', 'open', 'high', 'low', 'close', 'volume',
       'sma_5', 'ema_18', 'ema_20', 'sma_50', 'sma_89', 'ema_144', 'ema_35',
       'ku', 'a', 'b', 'c', 'rv', 'y', 'x', 'sl', 'ss'],
      dtype='object')

In [31]:
df_15_strat4.sort_values(by='datetime', inplace=True)

In [32]:
df_15_strat4.dropna(subset=['ema_144'], inplace=True)

In [33]:
df_15_strat4.isna().sum()

datetime     0
ticker_id    0
open         0
high         0
low          0
close        0
volume       0
sma_5        0
ema_18       0
ema_20       0
sma_50       0
sma_89       0
ema_144      0
ema_35       0
ku           0
a            0
b            0
c            0
rv           0
y            0
x            0
sl           0
ss           0
dtype: int64

In [5]:
# df_30_strat1.fillna(0, inplace=True)
# df_15_strat2.fillna(0, inplace=True)
# df_15_strat4.fillna(0, inplace=True)

# To CSV

In [34]:
df_30_strat1.to_csv('../Models/Data/df_30_strat1.csv', index=False)
df_15_strat2.to_csv('../Models/Data/df_15_strat2.csv', index=False)
df_15_strat4.to_csv('../Models/Data/df_15_strat4.csv', index=False)